@using Models.TIENDAS;

@model TiendaDTO

@{
    var viewName = Path.GetFileNameWithoutExtension(VirtualPath);
}

<div id="@viewName">
    <!-- Script de la vista modal -->
    <script src="@Url.Content(Utils.GetJsFilePath(VirtualPath))"></script>

    @using (Ajax.BeginForm("Registrar", "Tienda", new { area = "TIENDAS" }, new AjaxOptions { HttpMethod = "POST", OnSuccess = viewName + ".onSuccess" }))
    {
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Registrar usuario</h3>
        </div>

        <div class="modal-body">
            <div class="alert alert-info">
                <strong><i class="fa fa-info-circle" aria-hidden="true"></i></strong>
                Ingrese los datos de la tienda que desea registrar.
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.Nombre)
                    @(Html.Kendo().TextBoxFor(m => m.Nombre).HtmlAttributes(new { @class = "", @style = "width: 100%;" }))
                    @Html.ValidationMessageFor(m => m.Nombre)
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.TipoId)
                    @(Html.Kendo().DropDownListFor(m => m.TipoId)
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .HtmlAttributes(new { style = "width: 100%;" })
                    .OptionLabel("Seleccione...")
                    .Filter("contains")
                    .DataSource(source =>
                    {
                        source.Custom().Type("aspnetmvc-ajax")
                            .Transport(t =>
                            {
                                t.Read(r => r.Action("ListarDropDown", "TipoTienda", new { area = "TIENDAS" }));
                            })
                            .ServerFiltering(false)
                            .Schema(s => { s.Data("Data").Total("Total").Errors("Errors"); })
                            .Events(e => e.Error("Utils.onModelStateError"));
                    }))
                    @Html.ValidationMessageFor(m => m.TipoId)
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.HoraAperturaId)
                    @(Html.Kendo().DropDownListFor(m => m.HoraAperturaId)
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .HtmlAttributes(new { style = "width: 100%;" })
                    .OptionLabel("Seleccione...")
                    .Filter("contains")
                    .DataSource(source =>
                    {
                        source.Custom().Type("aspnetmvc-ajax")
                            .Transport(t =>
                            {
                                t.Read(r => r.Action("ListarDropDown", "Horario", new { area = "TIENDAS" }));
                            })
                            .ServerFiltering(false)
                            .Schema(s => { s.Data("Data").Total("Total").Errors("Errors"); })
                            .Events(e => e.Error("Utils.onModelStateError"));
                    }))
                    @Html.ValidationMessageFor(m => m.TipoId)
                </div>

                <div class="form-group col-md-6">
                    @Html.LabelFor(m => m.HoraCierreId)
                    @(Html.Kendo().DropDownListFor(m => m.HoraCierreId)
                    .DataTextField("Text")
                    .DataValueField("Value")
                    .HtmlAttributes(new { style = "width: 100%;" })
                    .OptionLabel("Seleccione...")
                    .Filter("contains")
                    .DataSource(source =>
                    {
                        source.Custom().Type("aspnetmvc-ajax")
                            .Transport(t =>
                            {
                                t.Read(r => r.Action("ListarDropDown", "Horario", new { area = "TIENDAS" }));
                            })
                            .ServerFiltering(false)
                            .Schema(s => { s.Data("Data").Total("Total").Errors("Errors"); })
                            .Events(e => e.Error("Utils.onModelStateError"));
                    }))
                    @Html.ValidationMessageFor(m => m.TipoId)
                </div>
            </div>

           


        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <input type="submit" class="btn btn-primary" value="Guardar">
        </div>
    }

    <!-- Inicialización script de vista -->
    <script>
            @(viewName).init();
    </script>
</div>