@using Models.INVENTARIOS;

@model ProductoDTO

@{
    var viewName = Path.GetFileNameWithoutExtension(VirtualPath);
}

<div id="@viewName">
    <!-- Script de la vista modal -->
    <script src="@Url.Content(Utils.GetJsFilePath(VirtualPath))"></script>

    @using (Ajax.BeginForm("Editar", "Producto", new { area = "INVENTARIOS" }, new AjaxOptions { HttpMethod = "POST", OnSuccess = viewName + ".onSuccess" }))
    {
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h3 class="modal-title">Editar producto</h3>
        </div>

        <div class="modal-body">
            <div class="alert alert-info">
                <strong><i class="fa fa-info-circle" aria-hidden="true"></i></strong>
                Ingrese los datos del producto que desea editar.
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.Nombre)
                    @(Html.Kendo().TextBoxFor(m => m.Nombre).HtmlAttributes(new { @class = "", @style = "width: 100%;" }))
                    @Html.ValidationMessageFor(m => m.Nombre)
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.Valor)
                    @(Html.Kendo().NumericTextBoxFor(m => m.Valor)
                                          .Format("c").Min(0).HtmlAttributes(new { @class = "", @style = "width: 100%;" }))
                    @Html.ValidationMessageFor(m => m.Valor)
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.Descuento)
                    @(Html.Kendo().NumericTextBoxFor(m => m.Descuento)
                                          .Format("# \\%").Min(0).Max(100).Value(0).HtmlAttributes(new { @class = "", @style = "width: 100%;" }))
                    @Html.ValidationMessageFor(m => m.Descuento)
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.Codigo)
                    @(Html.Kendo().TextBoxFor(m => m.Codigo).HtmlAttributes(new { @class = "", @style = "width: 100%;" }))
                    @Html.ValidationMessageFor(m => m.Codigo)
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.Cantidad)
                    @(Html.Kendo().NumericTextBoxFor(m => m.Cantidad)
                                          .Min(0).HtmlAttributes(new { @class = "", @style = "width: 100%;" }))
                    @Html.ValidationMessageFor(m => m.Cantidad)
                </div>

                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.TiendaId)
                    @(Html.Kendo().DropDownListFor(m => m.TiendaId)
                            .DataTextField("Nombre")
                            .DataValueField("Id")
                            .HtmlAttributes(new { style = "width: 100%;" })
                            .OptionLabel("Seleccione...")
                            .Filter("contains")
                            .DataSource(source =>
                            {
                                source.Custom().Type("aspnetmvc-ajax")
                                    .Transport(t =>
                                    {
                                        t.Read(r => r.Action("ListarDropDown", "Tienda", new { area = "TIENDAS" }));
                                    })
                                    .ServerFiltering(false)
                                    .Schema(s => { s.Data("Data").Total("Total").Errors("Errors"); })
                                    .Events(e => e.Error("Utils.onModelStateError"));
                            }))
                    @Html.ValidationMessageFor(m => m.TiendaId)
                </div>
            </div>

        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <input type="submit" class="btn btn-primary" value="Guardar">
        </div>
    }

    <!-- Inicialización script de vista -->
    <script>
            @(viewName).init();
    </script>
</div>