<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element text-center">
                    <span>
                        <img alt="image" class="img-circle" src="~/Content/Images/iconfinder_Shopping_3387285.png" />
                    </span>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li>@Html.ActionLink("Inicio", "Index", "Dashboard")</li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>


            <li class="">
                <a href="#"><i class="fa fa-shopping-cart"></i> <span class="nav-label">Modulo de Compras</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse ">
                    <li class="@Html.IsSelected(action: "Index", controller:"Compra")">
                        <a href="@Url.Action("Index", "Compra", new { area = "COMPRAS"})">Compras</a>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#"><i class="fa fa-home" aria-hidden="true"></i> <span class="nav-label">Módulo de Tiendas</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse ">
                    <li class="@Html.IsSelected(action: "Index", controller:"Tienda")">
                        <a href="@Url.Action("Index", "Tienda", new { area = "TIENDAS"})">Tiendas</a>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#"><i class="fa fa-list-ul" aria-hidden="true"></i> <span class="nav-label">Módulo de Inventarios</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse ">
                    <li class="@Html.IsSelected(action: "Index", controller:"Producto")">
                        <a href="@Url.Action("Index", "Producto", new { area = "INVENTARIOS"})">Productos</a>
                    </li>
                </ul>
            </li>

            <li class="">
                <a href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> <span class="nav-label">Módulo de Facturación</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse ">
                    <li class="@Html.IsSelected(action: "???", controller:"???")">
                        <a href="@Url.Action("???", "???", new { area = "???"})">Facturación</a>
                    </li>
                </ul>
            </li>


        </ul>
    </div>
</nav>
